@media(max-width: 674px){
    .Logo{
        display: none;
    }
}

.NavLogo{
    color: #fff;
    padding-top: .7rem;
    padding-bottom: .7rem;
    font-size: 28px;
    z-index: 3;
    position: relative;
    font-weight: bold;
    text-decoration: none;
    
}

.NavLogo:hover{
    color: white;
}

.Span{
    display: block;
    font-size: 11px;
    color: #fff;
    font-weight: 700;
    margin-top: -6px;
    text-transform: uppercase;
}

/* @media(max-width: 674px) {
    .NavLogo, .Span{
        color: black;
               
    }
} */